<footer class="w-100 d-md-flex flex-column flex-sm-row justify-content-sm-between p-4  bg-black bg-gradient">

    <div>
        {% include './list-rss.html' %}
    </div>

    <div class="d-flex flex-column justify-content-center">
        <p class="m-0 text-white">✨BOOKSTORE✨</p>
    </div>

    <div class="d-flex flex-column justify-content-center text-white">
        <p class="text-center m-0">© Designed & created ® By Azizbek Boltayev</p>
        <p class="text-center m-0">Email: <a href="mailto:boltaevazizbek25@gmail.com">boltaevazizbek25@gmail.com</a></p>
        <p class="text-center m-0">All rights reserved</p>
    </div>

</footer>